:root {
  /*COLORS*/
  --color-primary: #c02edb;
  --color-active: #d8ebff;
  /*WHITE*/
  --color-white: #fff;
  --color-white-1: #f8f8f8;
  --color-white-2: #f5f5f5;
  --color-white-3: #f2f2f2;
  --color-white-4: #f1f1f1;
  /*BLACK*/
  --color-black: #000;
  --color-black-1: #111;
  --color-black-2: #222;
  --color-black-3: #333;
  --color-black-4: #444;
  --color-black-5: #555;
  --color-black-6: #666;
  --color-black-7: #777;
  /*TRANSPARENT COLORS*/
  --color-primary-transparent-1: #c12edb85;
  --color-primary-transparent-2: #c12edb3a;
  --color-primary-transparent-3: #c12edb07;
  /*LINE COLORS*/
  --line-color-01: rgba(000,000,000,0.01);
  --line-color-1: rgba(000,000,000,0.1);
  --line-color-2: rgb(243, 243, 243);
}


html, body {
  margin: 0px;
  background-color: var(--color-primary-transparent-3) !important;
  font-family: sans-serif, Arial, Helvetica;
  overflow-x: hidden;
}

.app-wrapper {
  padding: 0px 10px;
  width: 100%;
}

.row {
  background-color: transparent;
  margin: 0px !important;
  padding: 0px !important;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.vertical-line {
  margin: auto auto;
  border-top: 3px solid #999;
}

.popup-message-container {
  position: absolute;
  z-index: 10;
  width: 100vw;
}

.popup-message-container>div:first-child {
  margin: 30px auto;
  width: 700px;
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #999; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* INPUT */
input {
  border: none; /* Removes the default border */
}

input:focus {
  outline: none /* Removes the border when the input is clicked */
}

textarea {
  border: none; /* Removes the default border */
}

textarea:focus {
  outline: none /* Removes the border when the input is clicked */
}
